# Go kaynak dosyaları ve text dosyaları LF ile saklanır.
* text=auto eol=lf
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.md text eol=lf
*.http text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.sh text eol=lf

# Binary dosyalar değiştirilmeden saklanır.
*.png binary
*.jpg binary
*.gif binary
